SUPABASE_URL=https://fvsyfgvqrbdsbobfnivg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2c3lmZ3ZxcmJkc2JvYmZuaXZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAxMTk2MDQsImV4cCI6MjA0NTY5NTYwNH0.wc-KqXPzm-wcwqWJluUuvzYo7HEIjfC2FyCwHC0jzBQ